@import "../public/assets/vendor/bootstrap/css/bootstrap.min.css";
/* @import "../public/assets/vendor/bootstrap-icons/bootstrap-icons.css"; */
@import "../public/assets/vendor/aos/aos.css";
/* @import "../public/assets/vendor/remixicon/remixicon.css"; */
@import "../public/assets/vendor/swiper/swiper-bundle.min.css";
@import "../public/assets/vendor/glightbox/css/glightbox.min.css";
@import "../public/assets/css/style.css";
@import "../public/assets/css/homeslider.css";
@import "../public/assets/css/indexpage.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
